@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--cstm-bg: rgb(235, 220, 150);
	--cstm-color: rgb(75, 0, 125);
	--cstm-btn-bg: rgb(75, 0, 125);
	--cstm-btn-color: rgb(0, 215, 200);
	--cstm-shadow: rgb(180, 50, 75);
}

[data-theme='dark'] {
	--cstm-bg: rgb(75, 0, 125);
	--cstm-color: rgb(235, 220, 150);
	--cstm-btn-bg: rgb(235, 220, 150);
	--cstm-btn-color: rgb(180, 50, 75);
	--cstm-shadow: rgb(0, 215, 200);
}

html * {
	@apply transition-colors duration-200;
	box-sizing: border-box;
}

body {
	color: var(--cstm-color);
	background-color: var(--cstm-bg);
}

a {
	display: block;
	color: var(--cstm-color);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	transition: all 0.15s ease-in-out;

	&.fill-up {
		border-radius: 0.5rem 0.5rem 0 0;
		background: linear-gradient(to top, transparent 50% var(--cstm-color) 50%)
			bottom;
		background-size: 100% 200%;
	}

	&:hover {
		filter: brightness(110%);

		&.fill-up {
			color: var(--cstm-btn-color);
			border-radius: 0.5rem 0.5rem 0 0;
			background: linear-gradient(
					to top,
					var(--cstm-color) 50%,
					transparent 50%
				)
				bottom;
			background-size: 100% 200%;
		}
	}

	&:active {
		filter: brightness(125%);
	}
}

button {
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	color: var(--cstm-btn-color);
	background-color: var(--cstm-btn-bg) !important;
	border: 2px solid var(--cstm-btn-color);
	border-radius: 0.5rem;
	white-space: nowrap;
	transition: 0.15s ease-in-out;

	&:hover {
		filter: brightness(110%);
	}

	&.active {
		filter: brightness(125%);
	}
}

input,
select {
	display: block;
	padding: 2px 4px;
	border: 2px solid var(--cstm-color);
	color: var(--cstm-color);
	background-color: var(--cstm-btn-color);
	border-radius: 0.5rem;
	margin: 0.5rem;
	width: 90%;

	&:focus {
		outline: 2px solid var(--cstm-shadow);
	}

	&#phone_number,
	&#country_calling_code {
		-webkit-appearance: none;
		-moz-appearance: textfield;
	}
}

select {
	line-height: 1.5rem !important;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.85rem;
}

h6 {
	font-size: 0.65rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
