@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: rgb(235, 220, 150);
	--text-color: rgb(75, 0, 125);
	--btn-bg-color: rgb(75, 0, 125);
	--btn-text-color: rgb(0, 215, 200);
	--shadow-color: rgb(255, 50, 100);
}

[data-theme='dark'] {
	--bg-color: rgb(75, 0, 125);
	--text-color: rgb(235, 220, 150);
	--btn-bg-color: rgb(235, 220, 150);
	--btn-text-color: rgb(180, 50, 75);
	--shadow-color: rgb(0, 215, 200);
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
}

a {
	color: var(--btn-bg-color);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	transition: all 0.15s ease-in-out;

	&:hover {
	}

	&:active {
		filter: brightness(110%) !important;
		box-shadow: 0 0 4px var(--shadow-color);
	}
}

button {
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	color: var(--btn-text-color);
	background-color: var(--btn-bg-color) !important;
	border: 2px solid var(--btn-text-color);
	border-radius: 1rem;
	white-space: nowrap;
	transition: 0.15s ease-in-out;

	&:hover {
		box-shadow: 0 1px 1px 1px var(--shadow-color);
	}

	&.active {
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.85rem;
}

h6 {
	font-size: 0.65rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

input {
	display: block;
	padding: 2px 4px;
	border: 2px solid var(--btn-text-color);
	color: var(--text-color);
	background-color: var(--bg-color);

	&:focus {
		outline: 2px solid var(--btn-text-color);
	}
}
