@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: rgb(255, 255, 255);
	--text-color: rgb(0, 0, 0);
	--btn-text-color: rgb(150, 0, 150);
	--btn-bg-color: rgb(255, 215, 0);
	--text-shadow-color: rgb(150, 0, 150);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: rgb(0, 0, 0);
		--text-color: rgb(255, 255, 255);
		--btn-text-color: rgb(255, 215, 0);
		--btn-bg-color: rgb(150, 0, 150);
		--text-shadow-color: rgb(255, 215, 0);
	}
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
}

a {
	color: var(--btn-text-color);
	background-color: var(--bg-color);

	&:hover {
		filter: brightness(110%);
	}

	&:active {
		filter: brightness(125%);
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.85rem;
}

h6 {
	font-size: 0.65rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

input {
	display: block;
	padding: 2px 4px;
	border: 2px solid var(--btn-text-color);
	color: var(--text-color);
	background-color: var(--bg-color);

	&:focus {
		outline: 2px solid var(--btn-text-color);
	}
}
